mixin message(msg)
  .message(
    data-userid=msg.userId
    data-messageid=msg.id
  )
    img.avatar(src=`/avatars/${msg.userId}.png`)
    p.text= msg.message

html
  head
    title My Page
  body
    div
        div.msgs
            if messages && messages.length
              each message in messages
                +message(message)
        div
            input.messageInput(type="text", name="")
            button.sendMsg Send Message
    script.
      const serverId = !{JSON.stringify(serverId)};
      const channelId = !{JSON.stringify(channelId)};
      const userId = !{JSON.stringify(userId)};
    script(src="/js/app.js")
            