mixin message(msg)
  .message(
    data-userid=msg.userId
    data-messageid=msg.id
  )
    img.avatar(src=`/avatars/${msg.userId}.png`, width="120", height="120")
    p.name= userMap[msg.userId]
    p.text= msg.message

mixin channel(channel)
  .channel(
    data-channelid=channel.id
    data-name=channel.name
  )
    //img.avatar(src=`/avatars/${msg.userId}.png`)
    a(href=`http://rtcord.rtx3080ti0415.qzz.io:32768/chat/1/${channel.id}`).text= channel.name

html
  head
    title My Page
  body
    div
        div.channels
            if channels && channels.length
              each channel in channels
                +channel(channel)
        div.msgs
            if messages && messages.length
              each message in messages
                +message(message)
        div
            input.messageInput(type="text", name="")
            button.sendMsg Send Message
    script.
      const serverId = !{JSON.stringify(serverId)};
      const channelId = !{JSON.stringify(channelId)};
      const userId = !{JSON.stringify(userId)};
      const userMap = !{JSON.stringify(userMap)};
    script(src="/js/app.js")
            